{% extends "base.html.twig" %}

{% block body %}

    {{ status_code }} {{ status_text }}

    VOus devez vous authentifier pour accéder à cette page

    <button class="bg-blue-500">Revenir à l'accueil</button>
    
{% endblock %}