{% extends "base.html.twig" %}

{% block body %}

    403 NOT AUTHORIZED

    VOus n'êtes pas authorisé à accéder à cette page

    <button class="bg-blue-500">Revenir à l'accueil</button>
    
{% endblock %}