{% extends "base.html.twig" %}

{% block body %}

    {{ status_code }} {{ status_text }}

    {% block content %}      
        Une erreur s'est produite
    {% endblock %}

   <a href={{ path('app_home') }} class="bg-blue-500">Revenir à l'accueil</a>
    
{% endblock %}